<div class="container" id="i18_career">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="career.my_career">My Career</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            oo
            {% for career in site.data.index.careers %}
            {% assign loopindex = forloop.index | modulo: 2 %}
                <div class="vertical-timeline-block">
                    time
                    <div class="vertical-timeline-icon navy-bg wow rotateIn">
                        <i class="fa {{ career.icon }}"></i>
                    </div>
                    vv
                    <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">
                        ee
                        <h2><span data-i18n="career.{{ career.name.i18n }}">{{ career.name.detail }}</span></h2>
                        <p><span data-i18n="career.{{ career.desc.i18n }}">{{ career.desc.detail }} </span></p>
                        
                        <span class="vertical-date"> <small><span data-i18n="career.{{ career.job.i18n }}">{{ career.job.detail }} dd</span></small> <br/>
                        <span data-i18n="career.{{ career.date.i18n }}"> {{ career.date.detail }} </span> <br/>
                        <img src="/Jalpc/static/assets/img/landing/google.png" alt="Smiley face" height="100"> </span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
