---

---

@import "search";
@import "pygments";
@import "open_sans";
@import "roboto";
@import "style";

.navbar .navbar-default .navbar-fixed-top{
    background: grey;
}

.active {
    color: black;
}

.landing-page .navy-line {
    padding-bottom: 30px;
}

.job-title{
    font-size: 1.3em;
}