---

---

@import "search";
@import "pygments";
@import "open_sans";
@import "roboto";
@import "style";

/**************/
/* BASE RULES */
/**************/
$headers-color: #747474d5;

.navbar .navbar-default .navbar-fixed-top{
    background: grey;
}

.active {
    color: black;
}

.landing-page .navy-line {
    padding-bottom: 30px;
}

.job-title{
    font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    color: $headers-color;
    font-weight: bold;
  
    line-height: 1.7;
    margin: 1em 0 15px;
    padding: 0;

}

.only-desktop-img{
    display: block;
}
  
@media (max-width: 700px) { 
    .only-desktop-img { display: none; }  
}

